.venv
backend/__pycache__/cleaner.cpython-314.pyc
model/__pycache__/

database/__pycache__/*
model/__pycache__/registry.cpython-314.pyc
database/__pycache__/db.cpython-314.pyc
backend/__pycache__/scorer.cpython-314.pyc
backend/__pycache__/pipeline.cpython-314.pyc
backend/__pycache__/inference.cpython-314.pyc
gui/__pycache__/app.cpython-314.pyc
utils/__pycache__/config.cpython-314.pyc
*.pyc
gui/__pycache__/app.cpython-314.pyc
utils/__pycache__/config.cpython-314.pyc
model/weights/*
backend/__pycache__/data_loader.cpython-314.pyc
.pytest_cache
database/raw/.~lock.Veri_Seti.xlsx#
